.app-form {
    width: 100%;
}

.app-input {
    width: 99.2%;
    height: 30px;
    margin: 0;
    padding: 0;
}

.app-btn {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.form-btn {
    height: 25%;
}